.heading2Xl {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 0.05rem;
  margin: 1rem 0;
  color: white;
  font-weight: bold;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: white;
  font-weight: bold;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  color: white;
  font-weight: bold;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}

.subheading {
	font-size: 1.2rem;
	color: var(--secondary-color);
	font-family: 'PT Mono', monospace;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.flex {
    display: flex;
}

.jCenter {
    justify-content: center;
}

.aCenter {
    align-items: center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexCol {
	flex-direction: column;
}

.heroSection {
	width: 100%;
    height: 90vh;
    margin-bottom: 3rem;
}

.section {
    height: 100%;
    margin: 5rem 0;
    margin-bottom: 50%;
}

.debug {
	border: 1px solid red;
}
